*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

/* card section */

.container{
    height: 75vh;
    display: grid;
    grid-template-columns: [first]1fr [second]1fr [third]1fr [fourth]1fr;
    /* padding: 5%; */
    row-gap: 10px;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.item{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}